* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1{
    font-size: 28px;
    text-align: left;
    margin-bottom: 16px;
    color: white;
}
h2{
    font-size: 20px;
    text-align: left;
    /* margin-bottom: 16px; */
    font-weight: 500;
    color: white;
}
button{
    border: none;
    background-color: transparent;
}

.btn {
    width: 120px;
    background-color: rgb(37, 148, 245);
    color: white;
    border: none;
    padding: 10px 12px;
    font-size: 16px;
    font-weight: 550;
    border-radius: 4px;
}
.btn :disabled{
    background-color: rgb(86, 164, 233);
}
table,
td,
th {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 12px;
    color: white;
}
table{
    width: 860px;
}
.btncontainer{
    display: flex;
    flex-direction: column;
    /* align-items:; */
    justify-content: space-between;
    gap: 25rem;
}
.btn-item{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 2rem;
}
.container {
    width: 50%;
    height: 80%;
    background-color: white;
    background-image: url(../../assets/istockphoto-1821704693-2048x2048.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
    margin:1rem auto;
}

#newUser , .usersdata  {
    background-color: rgba(207, 213, 238,0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top:20%;
    left: 42%;
    animation-name: newuser;
    animation-duration:1s;
}
@keyframes newuser {
    from{
        top: 0%;
    }
    to{
        top: 20%;
    }
}
.usersdata{
    animation-name: showdata;
    top:30%;
    left: 27%;
}
@keyframes showdata {
    from{
        top: 0%;
    }
    to{
        top: 30%;
    }
}
#editUser {
    background-color: rgba(207, 213, 238,0.6);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 8px;
    position: absolute;
    top:25%;
    left: 76%;
    animation-name: edituser;
    animation-duration:1s;
}
@keyframes edituser {
    from{
        left: 82%;
        /* width: 0px; */
    }
    to{
        left: 76%;
        /* width: fit-content; */
    }
}
input{
    width: 280px;
    padding: 8px;
    border: 1px solid rgb(126, 60, 233);
    border-radius: 6px;
    outline: none;
    font-size: 16px;
}
label{
    text-align: left;
    margin-bottom: 10px;
}
.input-items{
    display: flex;
    flex-direction: column;
    height: 100px; 
    width: 300px;
    text-align: center;
}
.closeAddUser{
    text-align: right;
}
.savebtn{
    align-items: center;
    height: 50px;
}
.savebtn>button{
    background-color: rgb(126, 60, 233);
}
.savebtn>button:disabled{
    background-color: rgb(167, 126, 233);
}
.successmsg{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 8px;
}

/* <!-- sucess message --> */

.successmsg{
    border: 1px solid #16A34A;
    background-color: rgba(54, 125, 190, 0.2);
    width: 320px;
    position: absolute;
    right: 2%;
    top: 2%;
    animation-name: successmsg;
    animation-duration:0.5s;
    animation-timing-function: linear;
}
@keyframes  successmsg{
    from{
        top: 10%;
    }
    to{
        top: 2%;
    }
    
}
.successmsg>h2{
    font-size: 16px;
    text-align: left;
    margin-bottom: 10px;
    font-weight: 500;
    color: #16A34A;
}
.successmsg>p{
    font-size: 14px;
    text-align: right;
}

.active ,.inactive{
    color: green;
    /* border: 1px solid green;
     backdrop-filter: blur(10px);
     background-color: #16A34A;
    font-size: 14px;
    padding:  8px 10px;
    width: 100px;
    border-radius: 40%; */
  }
  
.inactive {
    color: red;
    /* border: 1px solid red; */
  }
  
  .deletebtn, .editbtn{
    /* background-color: black; */
    backdrop-filter: blur(10px);
    color: black;
    margin-left: 10px;
    font-size: 14px;
    padding:  8px 10px;
    width: 100px;
    border-radius: 8px;
  }